<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <title>Omni Assist AI</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../public/css/styles.css" type="text/css">
  <!-- WebComponents polyfill. Needed for rendering web components in older browsers. -->
  <script src="https://www.gstatic.com/external_hosted/document_register_element/document-register-element.js"></script>
  <!-- Core UI module container. Loads all UI module-specific scripts. -->
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.11/container.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.4/common.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.1/knowledge_assist.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v2.9/knowledge_assist.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.3/smart_reply.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.3/summarization.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.2/transcript.js"></script>
  <!-- Favicon -->
  <link rel="icon" href="../public/assets/favicon.svg" type="image/svg+xml">
</head>

<body data-proxy-server="<%= proxyServer %>" data-conversation-profile="<%= conversationProfile %>"
  data-features="<%= features %>" data-genesys-cloud-region="<%= genesysCloudRegion %>" data-client-id="<%= clientID %>"
  data-channel="<%= channel %>" data-application-server="<%= applicationServer %>" data-logo-url="<%= logoURL %>">
  <header class="header">
    <div id="logo-container" class="logo-container"></div>
    <div class="header-right">
      <!-- <div class="status-container"></div> -->
      <div class="transcript-container"></div>
      <div class="sentiment-container">
        <img src="../public/assets/emotion/slightly_smiling_face.svg" alt="Sentiment" />
      </div>
      <div id="toggle-btn-container" class="toggle-btn-container"></div>
    </div>
  </header>
  <main class="main">
    <section id="summary" class="summary">
      <div class="title-container" draggable="false">
        <h4 class="title">Generate Summary</h4>
        <div class="title-btn-container">
          <button type="button" class="regenerate-btn" title="Regenerate">
            <img src="../public/assets/regenerate.svg" alt="regenerate" />
          </button>
          <button id="summary-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" alt="close" />
          </button>
        </div>
      </div>
      <div class="summary-content">
        <p class="summary-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim
          sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
          semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non
          fermentum
          diam nisl sit amet erat. Duis semper. Duis arcu massa
        </p>
      </div>
    </section>
    <section id="suggestions" class="suggestions">
      <section id="transcript" class="transcript" draggable="true">
        <h4 class="title">Conversation Transcript</h4>
        <div class="transcript-content">
          <div class="transcript-user">
            <div class="transcript-user-logo">
              <img src="../public/assets/headset.svg" alt="user" />
            </div>
            <div class="transcript-user-message-container">
              <p class="transcript-user-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi soluta
                Hello there! How can I help you today?
              </p>
              <p class="transcript-user-message-time">8:00 PM</p>
            </div>
          </div>
          <div class="transcript-agent">
            <div class="transcript-agent-message-container">
              <p class="transcript-agent-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
                ea
                cum culpa enim eos delectus nemo quam, earum iste quisquam dolor at omnis. Assumenda inventore voluptas,
                minima iusto itaque ratione?
              </p>
              <p class="transcript-agent-message-time">8:01 PM</p>
            </div>
            <div class="transcript-agent-logo">
              <img src="../public/assets/person.svg" alt="agent" />
            </div>
          </div>
          <div class="transcript-user">
            <div class="transcript-user-logo">
              <img src="../public/assets/headset.svg" alt="user" />
            </div>
            <div class="transcript-user-message-container">
              <p class="transcript-user-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi soluta
                Hello there! How can I help you today?
              </p>
              <p class="transcript-user-message-time">8:02 PM</p>
            </div>
          </div>
          <div class="transcript-agent">
            <div class="transcript-agent-message-container">
              <p class="transcript-agent-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
                ea
                cum culpa enim eos delectus nemo quam, earum iste quisquam dolor at omnis. Assumenda inventore voluptas,
                minima iusto itaque ratione?
              </p>
              <p class="transcript-agent-message-time">8:03 PM</p>
            </div>
            <div class="transcript-agent-logo">
              <img src="../public/assets/person.svg" alt="agent" />
            </div>
          </div>
          <div class="transcript-user">
            <div class="transcript-user-logo">
              <img src="../public/assets/headset.svg" alt="user" />
            </div>
            <div class="transcript-user-message-container">
              <p class="transcript-user-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi soluta
                Hello there! How can I help you today?
              </p>
              <p class="transcript-user-message-time">8:04 PM</p>
            </div>
          </div>
          <div class="transcript-agent">
            <div class="transcript-agent-message-container">
              <p class="transcript-agent-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
                ea
                cum culpa enim eos delectus nemo quam, earum iste quisquam dolor at omnis. Assumenda inventore voluptas,
                minima iusto itaque ratione?
              </p>
              <p class="transcript-agent-message-time">8:05 PM</p>
            </div>
            <div class="transcript-agent-logo">
              <img src="../public/assets/person.svg" alt="agent" />
            </div>
          </div>
        </div>
      </section>
      <section id="faq" class="faq" draggable="true">
        <div class="title-container">
          <h4 class="title">FAQ & Article Suggestions</h4>
          <button id="faq-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" alt="close" />
          </button>
        </div>
        <div class="faq-search-container">
          <img src="../public/assets/search.svg" width="12px" height="12px" alt="faq search" />
          <input id="faq-search" type="text" class="faq-search" placeholder="Ask a question or search for content" />
        </div>
        <div class="faq-content">
          <div class="faq-suggestions">
            <div class="faq-suggestion">
              <h3 class="faq-suggestion-title">Keeping the User Updated and Engaged</h3>
              <p class="faq-suggestion-content">Rest assured, John, we’ll get this resolved for you. Let me
                double-check if
                there’s a known issue with
                security
                questions or if your account has specific settings causing this.
              </p>
              <div class="faq-actions">
                <div class="faq-actions-left">
                  <button type="button" title="Like" class="like-btn">
                    <svg class="icon" width="17" height="17" viewBox="0 0 17 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.1614 2.30288C6.30229 3.48857 6.10948 4.72482 5.68128 5.83505C5.20753 7.06325 4.57711 8.39275 4.49913 9.71583C4.43348 10.8301 4.68594 12.1482 5.35924 13.0507C6.09665 14.0389 7.3069 14.6668 8.63957 14.6668H9.89999C12.0671 14.6668 13.8723 13.0057 14.0523 10.8462L14.3532 7.236C14.3937 6.75016 14.0102 6.3335 13.5227 6.3335H9.08398C8.3914 6.3335 7.8379 5.77302 7.83273 5.08979C7.82673 4.28165 7.87765 3.2842 7.50532 2.5395C7.17232 1.87343 6.86064 1.75016 6.58401 1.75016C6.33425 1.75016 6.13465 2.07772 6.1614 2.30288ZM6.58401 0.0834961C7.71365 0.0834961 8.49573 0.793563 8.99607 1.79415C9.43132 2.66475 9.4724 3.71064 9.49357 4.66683H13.5227C14.9852 4.66683 16.1355 5.9169 16.0141 7.37441L15.7132 10.9846C15.4612 14.008 12.9339 16.3335 9.89999 16.3335H8.63957C7.00034 16.3335 5.47681 15.6516 4.41711 14.5181C4.04429 14.6153 3.65327 14.6669 3.25065 14.6669C2.32713 14.6669 1.5603 14.1494 1.06395 13.3266C0.581401 12.5266 0.333984 11.4223 0.333984 10.0836C0.333984 8.74491 0.581401 7.64058 1.06395 6.84066C1.5603 6.0178 2.32713 5.50026 3.25065 5.50026C3.48523 5.50026 3.73285 5.54152 3.98175 5.61148C4.36301 4.61215 4.63491 3.58126 4.50638 2.49953C4.36329 1.29534 5.34691 0.0834961 6.58401 0.0834961ZM3.41384 7.18716C3.01008 7.10358 2.69312 7.36658 2.49107 7.7015C2.21961 8.1515 2.00065 8.92216 2.00065 10.0836C2.00065 11.245 2.21961 12.0157 2.49107 12.4657C2.74874 12.8928 3.02358 13.0002 3.25065 13.0002C3.30363 13.0002 3.35622 12.9989 3.40839 12.9962C2.96221 11.9892 2.77081 10.7131 2.83535 9.61783C2.87491 8.94658 3.13678 8.0195 3.41384 7.18716Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                  <button type="button" title="Dislike" class="dislike-btn">
                    <svg class="icon" width="16" height="17" viewBox="0 0 16 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.1726 14.6971C10.0317 13.5114 10.2245 12.2752 10.6527 11.165C11.1265 9.93675 11.7569 8.60725 11.8348 7.28417C11.9005 6.16992 11.648 4.85175 10.9747 3.94934C10.2373 2.96109 9.02708 2.33317 7.69442 2.33317H6.434C4.26692 2.33317 2.46167 3.99425 2.28167 6.15384L1.98083 9.764C1.94033 10.2498 2.32375 10.6665 2.81133 10.6665H7.25C7.94258 10.6665 8.49608 11.227 8.50125 11.9102C8.50725 12.7184 8.45633 13.7158 8.82867 14.4605C9.16167 15.1266 9.47334 15.2498 9.74998 15.2498C9.99973 15.2498 10.1993 14.9223 10.1726 14.6971ZM9.74998 16.9165C8.62033 16.9165 7.83825 16.2064 7.33792 15.2058C6.90267 14.3352 6.86158 13.2894 6.84042 12.3332H2.81133C1.34875 12.3332 0.1985 11.0831 0.319917 9.62559L0.620832 6.01542C0.872749 2.992 3.40008 0.666504 6.434 0.666504H7.69442C9.33364 0.666504 10.8572 1.34842 11.9169 2.48192C12.2897 2.38467 12.6807 2.33309 13.0833 2.33309C14.0068 2.33309 14.7737 2.85059 15.27 3.67342C15.7526 4.47342 16 5.57767 16 6.91642C16 8.25509 15.7526 9.35942 15.27 10.1593C14.7737 10.9822 14.0068 11.4997 13.0833 11.4997C12.8488 11.4997 12.6011 11.4585 12.3522 11.3885C11.971 12.3878 11.6991 13.4187 11.8276 14.5005C11.9707 15.7047 10.9871 16.9165 9.74998 16.9165ZM12.9201 9.81284C13.3239 9.89642 13.6409 9.63342 13.8429 9.2985C14.1144 8.8485 14.3333 8.07784 14.3333 6.91642C14.3333 5.755 14.1144 4.98434 13.8429 4.53434C13.5852 4.10717 13.3104 3.99975 13.0833 3.99975C13.0303 3.99975 12.9778 4.00109 12.9256 4.00384C13.3718 5.01084 13.5632 6.28692 13.4986 7.38217C13.4591 8.05342 13.1972 8.9805 12.9201 9.81284Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                </div>
                <div class="faq-actions-right">
                  <button type="button" class="view-btn" title="View">
                    <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                        fill="currentColor" />
                      <path
                        d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                        fill="currentColor" />
                    </svg>
                    <span>View</span>
                  </button>
                  <button type="button" class="copy-btn" title="Copy">
                    <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                        fill="currentColor" />
                    </svg>
                    <span>Copy</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="faq-suggestion">
              <h3 class="faq-suggestion-title">Keeping the User Updated and Engaged</h3>
              <p class="faq-suggestion-content">Rest assured, John, we’ll get this resolved for you. Let me
                double-check if
                there’s a known issue with
                security
                questions or if your account has specific settings causing this.
              </p>
              <div class="faq-actions">
                <div class="faq-actions-left">
                  <button type="button" title="Like" class="like-btn">
                    <svg class="icon" width="17" height="17" viewBox="0 0 17 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.1614 2.30288C6.30229 3.48857 6.10948 4.72482 5.68128 5.83505C5.20753 7.06325 4.57711 8.39275 4.49913 9.71583C4.43348 10.8301 4.68594 12.1482 5.35924 13.0507C6.09665 14.0389 7.3069 14.6668 8.63957 14.6668H9.89999C12.0671 14.6668 13.8723 13.0057 14.0523 10.8462L14.3532 7.236C14.3937 6.75016 14.0102 6.3335 13.5227 6.3335H9.08398C8.3914 6.3335 7.8379 5.77302 7.83273 5.08979C7.82673 4.28165 7.87765 3.2842 7.50532 2.5395C7.17232 1.87343 6.86064 1.75016 6.58401 1.75016C6.33425 1.75016 6.13465 2.07772 6.1614 2.30288ZM6.58401 0.0834961C7.71365 0.0834961 8.49573 0.793563 8.99607 1.79415C9.43132 2.66475 9.4724 3.71064 9.49357 4.66683H13.5227C14.9852 4.66683 16.1355 5.9169 16.0141 7.37441L15.7132 10.9846C15.4612 14.008 12.9339 16.3335 9.89999 16.3335H8.63957C7.00034 16.3335 5.47681 15.6516 4.41711 14.5181C4.04429 14.6153 3.65327 14.6669 3.25065 14.6669C2.32713 14.6669 1.5603 14.1494 1.06395 13.3266C0.581401 12.5266 0.333984 11.4223 0.333984 10.0836C0.333984 8.74491 0.581401 7.64058 1.06395 6.84066C1.5603 6.0178 2.32713 5.50026 3.25065 5.50026C3.48523 5.50026 3.73285 5.54152 3.98175 5.61148C4.36301 4.61215 4.63491 3.58126 4.50638 2.49953C4.36329 1.29534 5.34691 0.0834961 6.58401 0.0834961ZM3.41384 7.18716C3.01008 7.10358 2.69312 7.36658 2.49107 7.7015C2.21961 8.1515 2.00065 8.92216 2.00065 10.0836C2.00065 11.245 2.21961 12.0157 2.49107 12.4657C2.74874 12.8928 3.02358 13.0002 3.25065 13.0002C3.30363 13.0002 3.35622 12.9989 3.40839 12.9962C2.96221 11.9892 2.77081 10.7131 2.83535 9.61783C2.87491 8.94658 3.13678 8.0195 3.41384 7.18716Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                  <button type="button" title="Dislike" class="dislike-btn">
                    <svg class="icon" width="16" height="17" viewBox="0 0 16 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.1726 14.6971C10.0317 13.5114 10.2245 12.2752 10.6527 11.165C11.1265 9.93675 11.7569 8.60725 11.8348 7.28417C11.9005 6.16992 11.648 4.85175 10.9747 3.94934C10.2373 2.96109 9.02708 2.33317 7.69442 2.33317H6.434C4.26692 2.33317 2.46167 3.99425 2.28167 6.15384L1.98083 9.764C1.94033 10.2498 2.32375 10.6665 2.81133 10.6665H7.25C7.94258 10.6665 8.49608 11.227 8.50125 11.9102C8.50725 12.7184 8.45633 13.7158 8.82867 14.4605C9.16167 15.1266 9.47334 15.2498 9.74998 15.2498C9.99973 15.2498 10.1993 14.9223 10.1726 14.6971ZM9.74998 16.9165C8.62033 16.9165 7.83825 16.2064 7.33792 15.2058C6.90267 14.3352 6.86158 13.2894 6.84042 12.3332H2.81133C1.34875 12.3332 0.1985 11.0831 0.319917 9.62559L0.620832 6.01542C0.872749 2.992 3.40008 0.666504 6.434 0.666504H7.69442C9.33364 0.666504 10.8572 1.34842 11.9169 2.48192C12.2897 2.38467 12.6807 2.33309 13.0833 2.33309C14.0068 2.33309 14.7737 2.85059 15.27 3.67342C15.7526 4.47342 16 5.57767 16 6.91642C16 8.25509 15.7526 9.35942 15.27 10.1593C14.7737 10.9822 14.0068 11.4997 13.0833 11.4997C12.8488 11.4997 12.6011 11.4585 12.3522 11.3885C11.971 12.3878 11.6991 13.4187 11.8276 14.5005C11.9707 15.7047 10.9871 16.9165 9.74998 16.9165ZM12.9201 9.81284C13.3239 9.89642 13.6409 9.63342 13.8429 9.2985C14.1144 8.8485 14.3333 8.07784 14.3333 6.91642C14.3333 5.755 14.1144 4.98434 13.8429 4.53434C13.5852 4.10717 13.3104 3.99975 13.0833 3.99975C13.0303 3.99975 12.9778 4.00109 12.9256 4.00384C13.3718 5.01084 13.5632 6.28692 13.4986 7.38217C13.4591 8.05342 13.1972 8.9805 12.9201 9.81284Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                </div>
                <div class="faq-actions-right">
                  <button type="button" class="view-btn" title="View">
                    <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                        fill="currentColor" />
                      <path
                        d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                        fill="currentColor" />
                    </svg>
                    <span>View</span>
                  </button>
                  <button type="button" class="copy-btn" title="Copy">
                    <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                        fill="currentColor" />
                    </svg>
                    <span>Copy</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="faq-suggestion">
              <h3 class="faq-suggestion-title">Keeping the User Updated and Engaged</h3>
              <p class="faq-suggestion-content">Rest assured, John, we’ll get this resolved for you. Let me
                double-check if
                there’s a known issue with
                security
                questions or if your account has specific settings causing this.
              </p>
              <div class="faq-actions">
                <div class="faq-actions-left">
                  <button type="button" title="Like" class="like-btn">
                    <svg class="icon" width="17" height="17" viewBox="0 0 17 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.1614 2.30288C6.30229 3.48857 6.10948 4.72482 5.68128 5.83505C5.20753 7.06325 4.57711 8.39275 4.49913 9.71583C4.43348 10.8301 4.68594 12.1482 5.35924 13.0507C6.09665 14.0389 7.3069 14.6668 8.63957 14.6668H9.89999C12.0671 14.6668 13.8723 13.0057 14.0523 10.8462L14.3532 7.236C14.3937 6.75016 14.0102 6.3335 13.5227 6.3335H9.08398C8.3914 6.3335 7.8379 5.77302 7.83273 5.08979C7.82673 4.28165 7.87765 3.2842 7.50532 2.5395C7.17232 1.87343 6.86064 1.75016 6.58401 1.75016C6.33425 1.75016 6.13465 2.07772 6.1614 2.30288ZM6.58401 0.0834961C7.71365 0.0834961 8.49573 0.793563 8.99607 1.79415C9.43132 2.66475 9.4724 3.71064 9.49357 4.66683H13.5227C14.9852 4.66683 16.1355 5.9169 16.0141 7.37441L15.7132 10.9846C15.4612 14.008 12.9339 16.3335 9.89999 16.3335H8.63957C7.00034 16.3335 5.47681 15.6516 4.41711 14.5181C4.04429 14.6153 3.65327 14.6669 3.25065 14.6669C2.32713 14.6669 1.5603 14.1494 1.06395 13.3266C0.581401 12.5266 0.333984 11.4223 0.333984 10.0836C0.333984 8.74491 0.581401 7.64058 1.06395 6.84066C1.5603 6.0178 2.32713 5.50026 3.25065 5.50026C3.48523 5.50026 3.73285 5.54152 3.98175 5.61148C4.36301 4.61215 4.63491 3.58126 4.50638 2.49953C4.36329 1.29534 5.34691 0.0834961 6.58401 0.0834961ZM3.41384 7.18716C3.01008 7.10358 2.69312 7.36658 2.49107 7.7015C2.21961 8.1515 2.00065 8.92216 2.00065 10.0836C2.00065 11.245 2.21961 12.0157 2.49107 12.4657C2.74874 12.8928 3.02358 13.0002 3.25065 13.0002C3.30363 13.0002 3.35622 12.9989 3.40839 12.9962C2.96221 11.9892 2.77081 10.7131 2.83535 9.61783C2.87491 8.94658 3.13678 8.0195 3.41384 7.18716Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                  <button type="button" title="Dislike" class="dislike-btn">
                    <svg class="icon" width="16" height="17" viewBox="0 0 16 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.1726 14.6971C10.0317 13.5114 10.2245 12.2752 10.6527 11.165C11.1265 9.93675 11.7569 8.60725 11.8348 7.28417C11.9005 6.16992 11.648 4.85175 10.9747 3.94934C10.2373 2.96109 9.02708 2.33317 7.69442 2.33317H6.434C4.26692 2.33317 2.46167 3.99425 2.28167 6.15384L1.98083 9.764C1.94033 10.2498 2.32375 10.6665 2.81133 10.6665H7.25C7.94258 10.6665 8.49608 11.227 8.50125 11.9102C8.50725 12.7184 8.45633 13.7158 8.82867 14.4605C9.16167 15.1266 9.47334 15.2498 9.74998 15.2498C9.99973 15.2498 10.1993 14.9223 10.1726 14.6971ZM9.74998 16.9165C8.62033 16.9165 7.83825 16.2064 7.33792 15.2058C6.90267 14.3352 6.86158 13.2894 6.84042 12.3332H2.81133C1.34875 12.3332 0.1985 11.0831 0.319917 9.62559L0.620832 6.01542C0.872749 2.992 3.40008 0.666504 6.434 0.666504H7.69442C9.33364 0.666504 10.8572 1.34842 11.9169 2.48192C12.2897 2.38467 12.6807 2.33309 13.0833 2.33309C14.0068 2.33309 14.7737 2.85059 15.27 3.67342C15.7526 4.47342 16 5.57767 16 6.91642C16 8.25509 15.7526 9.35942 15.27 10.1593C14.7737 10.9822 14.0068 11.4997 13.0833 11.4997C12.8488 11.4997 12.6011 11.4585 12.3522 11.3885C11.971 12.3878 11.6991 13.4187 11.8276 14.5005C11.9707 15.7047 10.9871 16.9165 9.74998 16.9165ZM12.9201 9.81284C13.3239 9.89642 13.6409 9.63342 13.8429 9.2985C14.1144 8.8485 14.3333 8.07784 14.3333 6.91642C14.3333 5.755 14.1144 4.98434 13.8429 4.53434C13.5852 4.10717 13.3104 3.99975 13.0833 3.99975C13.0303 3.99975 12.9778 4.00109 12.9256 4.00384C13.3718 5.01084 13.5632 6.28692 13.4986 7.38217C13.4591 8.05342 13.1972 8.9805 12.9201 9.81284Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                </div>
                <div class="faq-actions-right">
                  <button type="button" class="view-btn" title="View">
                    <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                        fill="currentColor" />
                      <path
                        d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                        fill="currentColor" />
                    </svg>
                    <span>View</span>
                  </button>
                  <button type="button" class="copy-btn" title="Copy">
                    <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                        fill="currentColor" />
                    </svg>
                    <span>Copy</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="faq-suggestion">
              <h3 class="faq-suggestion-title">Keeping the User Updated and Engaged</h3>
              <p class="faq-suggestion-content">Rest assured, John, we’ll get this resolved for you. Let me
                double-check if
                there’s a known issue with
                security
                questions or if your account has specific settings causing this.
              </p>
              <div class="faq-actions">
                <div class="faq-actions-left">
                  <button type="button" title="Like" class="like-btn">
                    <svg class="icon" width="17" height="17" viewBox="0 0 17 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.1614 2.30288C6.30229 3.48857 6.10948 4.72482 5.68128 5.83505C5.20753 7.06325 4.57711 8.39275 4.49913 9.71583C4.43348 10.8301 4.68594 12.1482 5.35924 13.0507C6.09665 14.0389 7.3069 14.6668 8.63957 14.6668H9.89999C12.0671 14.6668 13.8723 13.0057 14.0523 10.8462L14.3532 7.236C14.3937 6.75016 14.0102 6.3335 13.5227 6.3335H9.08398C8.3914 6.3335 7.8379 5.77302 7.83273 5.08979C7.82673 4.28165 7.87765 3.2842 7.50532 2.5395C7.17232 1.87343 6.86064 1.75016 6.58401 1.75016C6.33425 1.75016 6.13465 2.07772 6.1614 2.30288ZM6.58401 0.0834961C7.71365 0.0834961 8.49573 0.793563 8.99607 1.79415C9.43132 2.66475 9.4724 3.71064 9.49357 4.66683H13.5227C14.9852 4.66683 16.1355 5.9169 16.0141 7.37441L15.7132 10.9846C15.4612 14.008 12.9339 16.3335 9.89999 16.3335H8.63957C7.00034 16.3335 5.47681 15.6516 4.41711 14.5181C4.04429 14.6153 3.65327 14.6669 3.25065 14.6669C2.32713 14.6669 1.5603 14.1494 1.06395 13.3266C0.581401 12.5266 0.333984 11.4223 0.333984 10.0836C0.333984 8.74491 0.581401 7.64058 1.06395 6.84066C1.5603 6.0178 2.32713 5.50026 3.25065 5.50026C3.48523 5.50026 3.73285 5.54152 3.98175 5.61148C4.36301 4.61215 4.63491 3.58126 4.50638 2.49953C4.36329 1.29534 5.34691 0.0834961 6.58401 0.0834961ZM3.41384 7.18716C3.01008 7.10358 2.69312 7.36658 2.49107 7.7015C2.21961 8.1515 2.00065 8.92216 2.00065 10.0836C2.00065 11.245 2.21961 12.0157 2.49107 12.4657C2.74874 12.8928 3.02358 13.0002 3.25065 13.0002C3.30363 13.0002 3.35622 12.9989 3.40839 12.9962C2.96221 11.9892 2.77081 10.7131 2.83535 9.61783C2.87491 8.94658 3.13678 8.0195 3.41384 7.18716Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                  <button type="button" title="Dislike" class="dislike-btn">
                    <svg class="icon" width="16" height="17" viewBox="0 0 16 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.1726 14.6971C10.0317 13.5114 10.2245 12.2752 10.6527 11.165C11.1265 9.93675 11.7569 8.60725 11.8348 7.28417C11.9005 6.16992 11.648 4.85175 10.9747 3.94934C10.2373 2.96109 9.02708 2.33317 7.69442 2.33317H6.434C4.26692 2.33317 2.46167 3.99425 2.28167 6.15384L1.98083 9.764C1.94033 10.2498 2.32375 10.6665 2.81133 10.6665H7.25C7.94258 10.6665 8.49608 11.227 8.50125 11.9102C8.50725 12.7184 8.45633 13.7158 8.82867 14.4605C9.16167 15.1266 9.47334 15.2498 9.74998 15.2498C9.99973 15.2498 10.1993 14.9223 10.1726 14.6971ZM9.74998 16.9165C8.62033 16.9165 7.83825 16.2064 7.33792 15.2058C6.90267 14.3352 6.86158 13.2894 6.84042 12.3332H2.81133C1.34875 12.3332 0.1985 11.0831 0.319917 9.62559L0.620832 6.01542C0.872749 2.992 3.40008 0.666504 6.434 0.666504H7.69442C9.33364 0.666504 10.8572 1.34842 11.9169 2.48192C12.2897 2.38467 12.6807 2.33309 13.0833 2.33309C14.0068 2.33309 14.7737 2.85059 15.27 3.67342C15.7526 4.47342 16 5.57767 16 6.91642C16 8.25509 15.7526 9.35942 15.27 10.1593C14.7737 10.9822 14.0068 11.4997 13.0833 11.4997C12.8488 11.4997 12.6011 11.4585 12.3522 11.3885C11.971 12.3878 11.6991 13.4187 11.8276 14.5005C11.9707 15.7047 10.9871 16.9165 9.74998 16.9165ZM12.9201 9.81284C13.3239 9.89642 13.6409 9.63342 13.8429 9.2985C14.1144 8.8485 14.3333 8.07784 14.3333 6.91642C14.3333 5.755 14.1144 4.98434 13.8429 4.53434C13.5852 4.10717 13.3104 3.99975 13.0833 3.99975C13.0303 3.99975 12.9778 4.00109 12.9256 4.00384C13.3718 5.01084 13.5632 6.28692 13.4986 7.38217C13.4591 8.05342 13.1972 8.9805 12.9201 9.81284Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                </div>
                <div class="faq-actions-right">
                  <button type="button" class="view-btn" title="View">
                    <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                        fill="currentColor" />
                      <path
                        d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                        fill="currentColor" />
                    </svg>
                    <span>View</span>
                  </button>
                  <button type="button" class="copy-btn" title="Copy">
                    <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                        fill="currentColor" />
                    </svg>
                    <span>Copy</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="faq-suggestion">
              <h3 class="faq-suggestion-title">Keeping the User Updated and Engaged</h3>
              <p class="faq-suggestion-content">Rest assured, John, we’ll get this resolved for you. Let me
                double-check if
                there’s a known issue with
                security
                questions or if your account has specific settings causing this.
              </p>
              <div class="faq-actions">
                <div class="faq-actions-left">
                  <button type="button" title="Like" class="like-btn">
                    <svg class="icon" width="17" height="17" viewBox="0 0 17 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.1614 2.30288C6.30229 3.48857 6.10948 4.72482 5.68128 5.83505C5.20753 7.06325 4.57711 8.39275 4.49913 9.71583C4.43348 10.8301 4.68594 12.1482 5.35924 13.0507C6.09665 14.0389 7.3069 14.6668 8.63957 14.6668H9.89999C12.0671 14.6668 13.8723 13.0057 14.0523 10.8462L14.3532 7.236C14.3937 6.75016 14.0102 6.3335 13.5227 6.3335H9.08398C8.3914 6.3335 7.8379 5.77302 7.83273 5.08979C7.82673 4.28165 7.87765 3.2842 7.50532 2.5395C7.17232 1.87343 6.86064 1.75016 6.58401 1.75016C6.33425 1.75016 6.13465 2.07772 6.1614 2.30288ZM6.58401 0.0834961C7.71365 0.0834961 8.49573 0.793563 8.99607 1.79415C9.43132 2.66475 9.4724 3.71064 9.49357 4.66683H13.5227C14.9852 4.66683 16.1355 5.9169 16.0141 7.37441L15.7132 10.9846C15.4612 14.008 12.9339 16.3335 9.89999 16.3335H8.63957C7.00034 16.3335 5.47681 15.6516 4.41711 14.5181C4.04429 14.6153 3.65327 14.6669 3.25065 14.6669C2.32713 14.6669 1.5603 14.1494 1.06395 13.3266C0.581401 12.5266 0.333984 11.4223 0.333984 10.0836C0.333984 8.74491 0.581401 7.64058 1.06395 6.84066C1.5603 6.0178 2.32713 5.50026 3.25065 5.50026C3.48523 5.50026 3.73285 5.54152 3.98175 5.61148C4.36301 4.61215 4.63491 3.58126 4.50638 2.49953C4.36329 1.29534 5.34691 0.0834961 6.58401 0.0834961ZM3.41384 7.18716C3.01008 7.10358 2.69312 7.36658 2.49107 7.7015C2.21961 8.1515 2.00065 8.92216 2.00065 10.0836C2.00065 11.245 2.21961 12.0157 2.49107 12.4657C2.74874 12.8928 3.02358 13.0002 3.25065 13.0002C3.30363 13.0002 3.35622 12.9989 3.40839 12.9962C2.96221 11.9892 2.77081 10.7131 2.83535 9.61783C2.87491 8.94658 3.13678 8.0195 3.41384 7.18716Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                  <button type="button" title="Dislike" class="dislike-btn">
                    <svg class="icon" width="16" height="17" viewBox="0 0 16 17" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.1726 14.6971C10.0317 13.5114 10.2245 12.2752 10.6527 11.165C11.1265 9.93675 11.7569 8.60725 11.8348 7.28417C11.9005 6.16992 11.648 4.85175 10.9747 3.94934C10.2373 2.96109 9.02708 2.33317 7.69442 2.33317H6.434C4.26692 2.33317 2.46167 3.99425 2.28167 6.15384L1.98083 9.764C1.94033 10.2498 2.32375 10.6665 2.81133 10.6665H7.25C7.94258 10.6665 8.49608 11.227 8.50125 11.9102C8.50725 12.7184 8.45633 13.7158 8.82867 14.4605C9.16167 15.1266 9.47334 15.2498 9.74998 15.2498C9.99973 15.2498 10.1993 14.9223 10.1726 14.6971ZM9.74998 16.9165C8.62033 16.9165 7.83825 16.2064 7.33792 15.2058C6.90267 14.3352 6.86158 13.2894 6.84042 12.3332H2.81133C1.34875 12.3332 0.1985 11.0831 0.319917 9.62559L0.620832 6.01542C0.872749 2.992 3.40008 0.666504 6.434 0.666504H7.69442C9.33364 0.666504 10.8572 1.34842 11.9169 2.48192C12.2897 2.38467 12.6807 2.33309 13.0833 2.33309C14.0068 2.33309 14.7737 2.85059 15.27 3.67342C15.7526 4.47342 16 5.57767 16 6.91642C16 8.25509 15.7526 9.35942 15.27 10.1593C14.7737 10.9822 14.0068 11.4997 13.0833 11.4997C12.8488 11.4997 12.6011 11.4585 12.3522 11.3885C11.971 12.3878 11.6991 13.4187 11.8276 14.5005C11.9707 15.7047 10.9871 16.9165 9.74998 16.9165ZM12.9201 9.81284C13.3239 9.89642 13.6409 9.63342 13.8429 9.2985C14.1144 8.8485 14.3333 8.07784 14.3333 6.91642C14.3333 5.755 14.1144 4.98434 13.8429 4.53434C13.5852 4.10717 13.3104 3.99975 13.0833 3.99975C13.0303 3.99975 12.9778 4.00109 12.9256 4.00384C13.3718 5.01084 13.5632 6.28692 13.4986 7.38217C13.4591 8.05342 13.1972 8.9805 12.9201 9.81284Z"
                        fill="currentColor" />
                    </svg>
                  </button>
                </div>
                <div class="faq-actions-right">
                  <button type="button" class="view-btn" title="View">
                    <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                        fill="currentColor" />
                      <path
                        d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                        fill="currentColor" />
                    </svg>
                    <span>View</span>
                  </button>
                  <button type="button" class="copy-btn" title="Copy">
                    <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                        fill="currentColor" />
                    </svg>
                    <span>Copy</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-view-mode">
          <div class="faq-view-mode-actions">
            <button type="button" class="copy-btn" title="Copy">
              <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                  fill="currentColor" />
              </svg>
              <span>Copy</span>
            </button>
            <button type="button" class="close-view-btn" title="Close View">
              <svg width="11" height="10" viewBox="0 0 11 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                class="icon">
                <path
                  d="M2.1072 9.51611L8.55881 9.51611C9.53785 9.51611 10.333 8.72095 10.333 7.74192L10.333 7.09676C10.333 6.83063 10.1153 6.61289 9.84914 6.61289C9.58301 6.61289 9.36527 6.83063 9.36527 7.09676L9.36527 7.74192C9.36527 8.18708 9.00398 8.54837 8.55881 8.54837L2.1072 8.54837C1.66204 8.54837 1.30075 8.18708 1.30075 7.74192L1.30075 2.25805C1.30075 1.81289 1.66204 1.4516 2.1072 1.4516L3.7201 1.4516C3.98623 1.4516 4.20397 1.23386 4.20397 0.967727C4.20397 0.701598 3.98623 0.483856 3.7201 0.483856L2.1072 0.483856C1.12817 0.483856 0.333007 1.27902 0.333007 2.25805L0.333008 7.74192C0.333008 8.72095 1.12817 9.51611 2.1072 9.51611Z"
                  fill="currentColor" />
                <path
                  d="M10.333 0.967741C10.333 0.838709 10.283 0.717741 10.1911 0.625806C10.0088 0.443548 9.68946 0.443548 9.5072 0.625806L6.78462 3.34839L6.78462 1.29032C6.78462 1.02419 6.56688 0.806452 6.30075 0.806452C6.03462 0.806452 5.81688 1.02419 5.81688 1.29032L5.81688 3.54839C5.81688 4.34839 6.46849 5 7.26849 5L9.52656 5C9.79269 5 10.0104 4.78226 10.0104 4.51613C10.0104 4.25 9.79269 4.03226 9.52656 4.03226L7.46849 4.03226L10.1911 1.30968C10.283 1.21774 10.333 1.09677 10.333 0.967741Z"
                  fill="currentColor" />
              </svg>
              <span>Close</span>
            </button>
          </div>
          <div class="faq-view-content">
            <h3 class="faq-view-title"></h3>
            <p class="faq-view-suggestion"></p>
          </div>
        </div>
      </section>
      <section id="knowledge-assist" class="knowledge-assist" draggable="true">
        <div class="title-container">
          <h4 class="title">Gen AI Knowledge Assist</h4>
          <button id="knowledge-assist-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" alt="close" />
          </button>
        </div>
        <div class="knowledge-assist-content">
          <div class="knowledge-assist-content-item">
            <h3 class="knowledge-assist-title">Keeping the User Updated and Engaged</h3>
            <p class="knowledge-assist-suggestion">Rest assured, John, we’ll get this resolved for you. Let me
              double-check if
              there’s a known issue with
              security
              questions or if your account has specific settings causing this.
            </p>
            <div class="knowledge-assist-actions">
              <button type="button" class="view-btn" title="View">
                <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                    fill="currentColor" />
                  <path
                    d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                    fill="currentColor" />
                </svg>
                <span>View</span>
              </button>
              <button type="button" class="copy-btn" title="Copy">
                <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                    fill="currentColor" />
                </svg>
                <span>Copy</span>
              </button>
            </div>
          </div>
          <div class="knowledge-assist-content-item">
            <h3 class="knowledge-assist-title">Keeping the User Updated and Engaged</h3>
            <p class="knowledge-assist-suggestion">1/Rest assured, John, we’ll get this resolved for you. Let me
              double-check if
              there’s a known issue with
              security
              questions or if your account has specific settings causing this.
            </p>
            <div class="knowledge-assist-actions">
              <button type="button" class="view-btn" title="View">
                <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                    fill="currentColor" />
                  <path
                    d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                    fill="currentColor" />
                </svg>
                <span>View</span>
              </button>
              <button type="button" class="copy-btn" title="Copy">
                <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                    fill="currentColor" />
                </svg>
                <span>Copy</span>
              </button>
            </div>
          </div>
          <div class="knowledge-assist-content-item">
            <h3 class="knowledge-assist-title">Keeping the User Updated and Engaged</h3>
            <p class="knowledge-assist-suggestion">Rest assured, John, we’ll get this resolved for you. Let me
              double-check if
              there’s a known issue with
              security
              questions or if your account has specific settings causing this.
            </p>
            <div class="knowledge-assist-actions">
              <button type="button" class="view-btn" title="View">
                <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                    fill="currentColor" />
                  <path
                    d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                    fill="currentColor" />
                </svg>
                <span>View</span>
              </button>
              <button type="button" class="copy-btn" title="Copy">
                <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                    fill="currentColor" />
                </svg>
                <span>Copy</span>
              </button>
            </div>
          </div>
          <div class="knowledge-assist-content-item">
            <h3 class="knowledge-assist-title">Keeping the User Updated and Engaged</h3>
            <p class="knowledge-assist-suggestion">Rest assured, John, we’ll get this resolved for you. Let me
              double-check if
              there’s a known issue with
              security
              questions or if your account has specific settings causing this.
            </p>
            <div class="knowledge-assist-actions">
              <button type="button" class="view-btn" title="View">
                <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                    fill="currentColor" />
                  <path
                    d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                    fill="currentColor" />
                </svg>
                <span>View</span>
              </button>
              <button type="button" class="copy-btn" title="Copy">
                <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                    fill="currentColor" />
                </svg>
                <span>Copy</span>
              </button>
            </div>
          </div>
          <div class="knowledge-assist-content-item">
            <h3 class="knowledge-assist-title">Keeping the User Updated and Engaged</h3>
            <p class="knowledge-assist-suggestion">Rest assured, John, we’ll get this resolved for you. Let me
              double-check if
              there’s a known issue with
              security
              questions or if your account has specific settings causing this.
            </p>
            <div class="knowledge-assist-actions">
              <button type="button" class="view-btn" title="View">
                <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                    fill="currentColor" />
                  <path
                    d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                    fill="currentColor" />
                </svg>
                <span>View</span>
              </button>
              <button type="button" class="copy-btn" title="Copy">
                <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                    fill="currentColor" />
                </svg>
                <span>Copy</span>
              </button>
            </div>
          </div>
        </div>
        <div class="knowledge-assist-view-mode">
          <div class="knowledge-assist-view-mode-actions">
            <button type="button" class="copy-btn" title="Copy">
              <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                  fill="currentColor" />
              </svg>
              <span>Copy</span>
            </button>
            <button type="button" class="close-view-btn" title="Close View">
              <svg width="11" height="10" viewBox="0 0 11 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                class="icon">
                <path
                  d="M2.1072 9.51611L8.55881 9.51611C9.53785 9.51611 10.333 8.72095 10.333 7.74192L10.333 7.09676C10.333 6.83063 10.1153 6.61289 9.84914 6.61289C9.58301 6.61289 9.36527 6.83063 9.36527 7.09676L9.36527 7.74192C9.36527 8.18708 9.00398 8.54837 8.55881 8.54837L2.1072 8.54837C1.66204 8.54837 1.30075 8.18708 1.30075 7.74192L1.30075 2.25805C1.30075 1.81289 1.66204 1.4516 2.1072 1.4516L3.7201 1.4516C3.98623 1.4516 4.20397 1.23386 4.20397 0.967727C4.20397 0.701598 3.98623 0.483856 3.7201 0.483856L2.1072 0.483856C1.12817 0.483856 0.333007 1.27902 0.333007 2.25805L0.333008 7.74192C0.333008 8.72095 1.12817 9.51611 2.1072 9.51611Z"
                  fill="currentColor" />
                <path
                  d="M10.333 0.967741C10.333 0.838709 10.283 0.717741 10.1911 0.625806C10.0088 0.443548 9.68946 0.443548 9.5072 0.625806L6.78462 3.34839L6.78462 1.29032C6.78462 1.02419 6.56688 0.806452 6.30075 0.806452C6.03462 0.806452 5.81688 1.02419 5.81688 1.29032L5.81688 3.54839C5.81688 4.34839 6.46849 5 7.26849 5L9.52656 5C9.79269 5 10.0104 4.78226 10.0104 4.51613C10.0104 4.25 9.79269 4.03226 9.52656 4.03226L7.46849 4.03226L10.1911 1.30968C10.283 1.21774 10.333 1.09677 10.333 0.967741Z"
                  fill="currentColor" />
              </svg>
              <span>Close</span>
          </div>
          <div class="knowledge-assist-view-content">
            <h3 class="knowledge-assist-view-title"></h3>
            <p class="knowledge-assist-view-suggestion"></p>
          </div>
        </div>
      </section>
    </section>
    <section id="smart-reply" class="smart-reply" draggable="false">
      <div class="title-container">
        <h4 class="title">Smart Reply</h4>
        <button id="smart-reply-close-btn" type="button" class="close-btn" title="Close">
          <img src="../public/assets/close.svg" alt="close" />
        </button>
      </div>
      <div class="smart-reply-content">
        <div class="smart-reply-text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti aspernatur
            facere eius quis fugiat
            blanditiis, eligendi excepturi suscipit beatae placeat nam autem repellat voluptatibus earum consectetur
            voluptas atque pariatur!
          </p>
          <button type="button" class="view-btn" title="View">
            <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                fill="currentColor" />
              <path
                d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                fill="currentColor" />
            </svg>
            <span>View</span>
          </button>
        </div>
        <div class="smart-reply-text">
          <p>1.2Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti aspernatur
            facere eius quis fugiat
            blanditiis, eligendi excepturi suscipit beatae placeat nam autem repellat voluptatibus earum consectetur
            voluptas atque pariatur!
          </p>
          <button type="button" class="view-btn" title="View">
            <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                fill="currentColor" />
              <path
                d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                fill="currentColor" />
            </svg>
            <span>View</span>
          </button>
        </div>
        <div class="smart-reply-text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti aspernatur
            facere eius quis fugiat
            blanditiis, eligendi excepturi suscipit beatae placeat nam autem repellat voluptatibus earum consectetur
            voluptas atque pariatur!
          </p>
          <button type="button" class="view-btn" title="View">
            <svg class="icon" width="10" height="10" viewBox="0 0 10 10" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.22581 0.483887H1.77419C0.795161 0.483887 0 1.27905 0 2.25808V2.90324C0 3.16937 0.217742 3.38711 0.483871 3.38711C0.75 3.38711 0.967742 3.16937 0.967742 2.90324V2.25808C0.967742 1.81292 1.32903 1.45163 1.77419 1.45163H8.22581C8.67097 1.45163 9.03226 1.81292 9.03226 2.25808V7.74195C9.03226 8.18711 8.67097 8.5484 8.22581 8.5484H6.6129C6.34677 8.5484 6.12903 8.76614 6.12903 9.03227C6.12903 9.2984 6.34677 9.51614 6.6129 9.51614H8.22581C9.20484 9.51614 10 8.72098 10 7.74195V2.25808C10 1.27905 9.20484 0.483887 8.22581 0.483887Z"
                fill="currentColor" />
              <path
                d="M0 9.03226C0 9.16129 0.0499999 9.28226 0.141935 9.37419C0.324193 9.55645 0.643548 9.55645 0.825807 9.37419L3.54839 6.65161V8.70968C3.54839 8.97581 3.76613 9.19355 4.03226 9.19355C4.29839 9.19355 4.51613 8.97581 4.51613 8.70968V6.45161C4.51613 5.65161 3.86452 5 3.06452 5H0.806452C0.540323 5 0.322581 5.21774 0.322581 5.48387C0.322581 5.75 0.540323 5.96774 0.806452 5.96774H2.86452L0.141935 8.69032C0.0499999 8.78226 0 8.90323 0 9.03226Z"
                fill="currentColor" />
            </svg>
            <span>View</span>
          </button>
        </div>
      </div>
      <div class="smart-reply-view-mode">
        <div class="smart-reply-view-mode-actions">
          <button type="button" class="copy-btn" title="Copy">
            <svg class="icon" width="8" height="10" viewBox="0 0 8 10" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                fill="currentColor" />
            </svg>
            <span>Copy</span>
          </button>
          <button type="button" class="close-view-btn" title="Close View">
            <svg width="11" height="10" viewBox="0 0 11 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
              class="icon">
              <path
                d="M2.1072 9.51611L8.55881 9.51611C9.53785 9.51611 10.333 8.72095 10.333 7.74192L10.333 7.09676C10.333 6.83063 10.1153 6.61289 9.84914 6.61289C9.58301 6.61289 9.36527 6.83063 9.36527 7.09676L9.36527 7.74192C9.36527 8.18708 9.00398 8.54837 8.55881 8.54837L2.1072 8.54837C1.66204 8.54837 1.30075 8.18708 1.30075 7.74192L1.30075 2.25805C1.30075 1.81289 1.66204 1.4516 2.1072 1.4516L3.7201 1.4516C3.98623 1.4516 4.20397 1.23386 4.20397 0.967727C4.20397 0.701598 3.98623 0.483856 3.7201 0.483856L2.1072 0.483856C1.12817 0.483856 0.333007 1.27902 0.333007 2.25805L0.333008 7.74192C0.333008 8.72095 1.12817 9.51611 2.1072 9.51611Z"
                fill="currentColor" />
              <path
                d="M10.333 0.967741C10.333 0.838709 10.283 0.717741 10.1911 0.625806C10.0088 0.443548 9.68946 0.443548 9.5072 0.625806L6.78462 3.34839L6.78462 1.29032C6.78462 1.02419 6.56688 0.806452 6.30075 0.806452C6.03462 0.806452 5.81688 1.02419 5.81688 1.29032L5.81688 3.54839C5.81688 4.34839 6.46849 5 7.26849 5L9.52656 5C9.79269 5 10.0104 4.78226 10.0104 4.51613C10.0104 4.25 9.79269 4.03226 9.52656 4.03226L7.46849 4.03226L10.1911 1.30968C10.283 1.21774 10.333 1.09677 10.333 0.967741Z"
                fill="currentColor" />
            </svg> <span>Close</span>
        </div>
        <div class="smart-reply-view-content">
          <p class="smart-reply-view-text"></p>
        </div>
      </div>
    </section>
  </main>
  <div id="toast-container" class="toast-container"></div>
  <script type="module" src="../public/js/genesys-cloud.js" defer></script>
  <script type="module" src="../public/js/main.js" defer></script>
</body>

</html>