<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <title>Omni Assist AI</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <!-- CSS Styles -->
  <link rel="stylesheet" href="../public/css/loader.css" type="text/css" />
  <link rel="stylesheet" href="../public/css/styles.css" type="text/css" />
  <link rel="stylesheet" href="../public/css/ui-modules.css" type="text/css" />
  <!-- WebComponents polyfill. Needed for rendering web components in older browsers. -->
  <script src="https://www.gstatic.com/external_hosted/document_register_element/document-register-element.js"></script>
  <!-- Core UI module container. Loads all UI module-specific scripts. -->
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.11/container.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.4/common.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.1/knowledge_assist.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v2.9/knowledge_assist.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.3/smart_reply.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.3/summarization.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.2/transcript.js"></script>
  <!-- Favicon -->
  <link rel="icon" href="../public/assets/favicon.svg" type="image/svg+xml" />
</head>

<body data-features="<%= features %>" data-client-id="<%= clientID %>" data-channel="<%= channel %>"
  data-logo-url="<%= logoURL %>" data-knowledge-assist-features="<%= knowledgeAssistFeatures %>"
  data-sentiment-analysis="<%= sentimentAnalysis %>" data-translation="<%= translation %>"
  data-theme-primary="<%= themePrimary %>" data-theme-secondary="<%= themeSecondary %>"
  data-auto-generate-summary="<%= autoGenerateSummary %>"
  data-auto-generate-summary-interval="<%= autoGenerateSummaryInterval %>">
  <header class="header">
    <div id="logo-container" class="logo-container"></div>
    <div id="ui-modules-container" class="ui-modules-container"></div>
    <div class="header-right">
      <div id="translation-container" class="translation-container"></div>
      <div id="status-container" class="status-container"></div>
      <div id="toggle-btn-container" class="toggle-btn-container"></div>
    </div>
  </header>
  <div id="error-message-container" class="error-message-container">
    <div class="error-message">
      <h3 class="error-message-title">Something went wrong</h3>
      <p class="error-message-content">Please contact your administrator</p>
      <div>
        <button id="error-message-reload-btn" type="button" class="error-message-action-button">Reload the page</button>
      </div>
    </div>
  </div>
  <div id="loader" class="loader-container">
    <div class="loader"></div>
  </div>
  <main id="main" class="main">
    <section id="summary" class="summary">
      <div class="title-container" draggable="false">
        <div class="title-icon-container">
          <img src="../public/assets/buttons/summary-black.svg" class="title-icon" alt="summary" />
          <h4 class="title">Conversation Summary</h4>
        </div>
        <div class="title-btn-container">
          <button id="copy-btn" type="button" class="close-btn" title="Copy Summary">
            <img src="../public/assets/copy.svg" class="copy-btn-image" alt="copy summary" />
          </button>
          <button id="regenerate-btn" type="button" class="regenerate-btn" title="Regenerate Summary">
            <img src="../public/assets/regenerate.svg" class="regenerate-btn-image" alt="regenerate" />
          </button>
          <button id="summary-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" class="close-btn-image" alt="close" />
          </button>
        </div>
      </div>
      <div class="summary-content"></div>
    </section>
    <section id="suggestions" class="suggestions">
      <section id="transcript" class="transcript" draggable="true">
        <div class="title-container">
          <div class="title-icon-container">
            <img src="../public/assets/buttons/transcript-black.svg" class="title-icon" alt="Transcript" />
            <h4 class="title">Conversation Transcript</h4>
          </div>
          <button id="transcript-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" class="close-btn-image" alt="close" />
          </button>
        </div>
        <div class="transcript-content"></div>
      </section>
      <section id="faq" class="faq" draggable="true">
        <div class="title-container">
          <div class="title-icon-container">
            <img src="../public/assets/buttons/faq-black.svg" class="title-icon" alt="Transcript" />
            <h4 class="title">FAQ & Article Suggestions</h4>
          </div>
          <button id="faq-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" class="close-btn-image" alt="close" />
          </button>
        </div>
        <div id="faq-container" class="faq-content"></div>
        <div id="faq-view-mode" class="faq-view-mode">
          <div class="faq-view-mode-actions">
            <div class="faq-size-adjuster">
              <button type="button" id="faq-decreaser" class="faq-decreaser" title="Decrease Font Size">
                A
              </button>
              <button type="button" id="faq-increaser" class="faq-increaser" title="Increase Font Size">
                A
              </button>
            </div>
            <div class="faq-view-mode-buttons">
              <button id="faq-view-copy-btn" type="button" class="copy-btn view-copy-btn" title="Copy FAQ Suggestion">
                <span class="view-copy-btn-image">
                  <svg class="copy-icon" viewBox="0 0 8 10" xmlns="http://www.w3.org/2000/svg"
                    style="width: 12px; height: 12px; color: var(--color-primary);" fill="currentColor">
                    <path
                      d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                      fill="currentColor" />
                  </svg>
                </span>
                <span>Copy</span>
              </button>
              <button id="faq-close-view-btn" type="button" class="close-view-btn" title="Close FAQ Suggestion View">
                <img src="../public/assets/close-view.svg" alt="close-view" class="close-view-btn-image" width="12px"
                  height="12px" />
                <span>Close</span>
              </button>
            </div>
          </div>
          <div class="faq-view-content">
            <h3 class="faq-view-title"></h3>
            <p class="faq-view-suggestion"></p>
          </div>
        </div>
      </section>
      <section id="knowledge-assist" class="knowledge-assist" draggable="true">
        <div class="title-container">
          <div class="title-icon-container">
            <img src="../public/assets/buttons/knowledge-assist-black.svg" class="title-icon" alt="Transcript" />
            <h4 class="title">Gen AI Knowledge Assist</h4>
          </div>
          <button id="knowledge-assist-close-btn" type="button" class="close-btn" title="Close">
            <img src="../public/assets/close.svg" class="close-btn-image" alt="close" />
          </button>
        </div>
        <div id="knowledge-assist-container" class="knowledge-assist-content"></div>
        <div id="knowledge-assist-view-mode" class="knowledge-assist-view-mode">
          <div class="knowledge-assist-view-mode-actions">
            <div class="knowledge-assist-size-adjuster">
              <button type="button" id="knowledge-assist-decreaser" class="knowledge-assist-decreaser"
                title="Decrease Font Size">
                A
              </button>
              <button type="button" id="knowledge-assist-increaser" class="knowledge-assist-increaser"
                title="Increase Font Size">
                A
              </button>
            </div>
            <div class="knowledge-assist-view-mode-buttons">
              <button id="knowledge-assist-view-copy-btn" type="button" class="copy-btn view-copy-btn"
                title="Copy Knowledge Assist Content">
                <span class="view-copy-btn-image">
                  <svg class="copy-icon" viewBox="0 0 8 10" xmlns="http://www.w3.org/2000/svg"
                    style="width: 12px; height: 12px; color: var(--color-primary);" fill="currentColor">
                    <path
                      d="M0.705882 9.57157C0.517647 9.57157 0.352941 9.503 0.211765 9.36585C0.0705882 9.22871 0 9.06871 0 8.88585V1.99443H0.705882V8.88585H6.28235V9.57157H0.705882ZM2.11765 8.20014C1.92941 8.20014 1.76471 8.13157 1.62353 7.99443C1.48235 7.85728 1.41176 7.69728 1.41176 7.51443V1.11443C1.41176 0.931568 1.48235 0.771568 1.62353 0.634425C1.76471 0.497282 1.92941 0.428711 2.11765 0.428711H7.29412C7.48235 0.428711 7.64706 0.497282 7.78824 0.634425C7.92941 0.771568 8 0.931568 8 1.11443V7.51443C8 7.69728 7.92941 7.85728 7.78824 7.99443C7.64706 8.13157 7.48235 8.20014 7.29412 8.20014H2.11765ZM2.11765 7.51443H7.29412V1.11443H2.11765V7.51443Z"
                      fill="currentColor" />
                  </svg>
                </span>
                <span>Copy</span>
              </button>
              <button id="knowledge-assist-close-view-btn" type="button" class="close-view-btn"
                title="Close Knowledge Assist View">
                <img src="../public/assets/close-view.svg" alt="close-view" class="close-view-btn-image" width="12px"
                  height="12px" />
                <span>Close</span>
              </button>
            </div>
          </div>
          <div class="knowledge-assist-view-content">
            <h3 class="knowledge-assist-view-title"></h3>
            <p class="knowledge-assist-view-suggestion"></p>
          </div>
        </div>
      </section>
    </section>
    <section id="smart-reply" class="smart-reply" draggable="false">
      <div class="title-container">
        <div class="title-icon-container">
          <img src="../public/assets/buttons/smart-reply-black.svg" class="title-icon" alt="Transcript" />
          <h4 class="title">Smart Reply</h4>
        </div>
        <button id="smart-reply-close-btn" type="button" class="close-btn" title="Close">
          <img src="../public/assets/close.svg" class="close-btn-image" alt="close" />
        </button>
      </div>
      <div class="smart-reply-content"></div>
    </section>
  </main>
  <div id="toast-container" class="toast-container"></div>
  <script src="../public/js/theme.js" defer></script>
  <script>
    window.addEventListener('load', function () {
      const proxyServerEndPoint = '<%= proxyServer %>';
      const conversationProfile = '<%= conversationProfile %>';
      const features = '<%= features %>';
      const genesysCloudRegion = '<%= genesysCloudRegion %>';
      const clientId = '<%= clientID %>';
      const channel = '<%= channel %>';
      const knowledgeAssistFeatures = '<%= knowledgeAssistFeatures %>';
      const applicationServer = '<%= applicationServer %>';

      window.proxyServerEndPoint = proxyServerEndPoint;
      window.conversationProfile = conversationProfile;
      window.features = features;
      window.genesysCloudRegion = genesysCloudRegion;
      window.clientId = clientId;
      window.channel = channel;
      window.knowledgeAssistFeatures = knowledgeAssistFeatures;
      window.applicationServer = applicationServer;
    });
  </script>
  <script type="module" src="../public/js/agent-assit.js" defer></script>
  <script type="module" src="../public/js/main.js" defer></script>
</body>

</html>